body{
    padding: 0;
    margin: 0;
}
.form{
    /* border: 2px solid green; */
    margin-top: 50px;
}
#Login-form{
    width: 50%;     
    display: block;
    margin: auto ;
    padding: 20px;
    /* border: 2px solid red; */
    
}
#Login-form input{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 6px;
    
}
#Login-form img{
    width: 18px;
    position: absolute;
    top: 123px;
    left: 615px;
}
#Login-form input[type="submit"]{
    width: 70px;
}